<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SPing.Properties.Settings>
            <setting name="TimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultIpAddress" serializeAs="String">
                <value>192.168.2.0</value>
            </setting>
        </SPing.Properties.Settings>
    </userSettings>
</configuration>